In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [5]:
import pandas as pd
titles = pd.read_csv('C:/Users/PC/Downloads/titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

### How many movies are listed in the titles dataframe?

In [1]:
import pandas as pd
titles = pd.read_csv('C:/Users/PC/Downloads/titles.csv')
titles.size

489828

### What are the earliest two films listed in the titles dataframe?

In [3]:
import pandas as pd
titles=pd.read_csv('C:/Users/PC/Downloads/titles.csv')
titles.iloc[:2]

                title  year
0  Tasveer Mere Sanam  1996
1            Only You  1994

### How many movies have the title "Hamlet"?

In [17]:

import pandas as pd
titles=pd.read_csv('C:/Users/PC/Downloads/titles.csv')
H=titles.loc[titles['title']=='Hamlet']
print(H.size)
print(H.count)
print(H.shape)

40
<bound method DataFrame.count of          title  year
6422    Hamlet  2017
10637   Hamlet  1921
39916   Hamlet  1913
52521   Hamlet  1910
62000   Hamlet  2000
67406   Hamlet  1969
82130   Hamlet  1987
88065   Hamlet  2016
101728  Hamlet  1948
122827  Hamlet  1973
133921  Hamlet  1976
154029  Hamlet  2015
161324  Hamlet  1964
172640  Hamlet  1954
173033  Hamlet  2011
178222  Hamlet  1996
189093  Hamlet  2009
192142  Hamlet  1990
198234  Hamlet  1911
202025  Hamlet  2014>
(20, 2)

### How many movies are titled "North by Northwest"?

In [15]:

import pandas as pd
titles=pd.read_csv('C:/Users/PC/Downloads/titles.csv')
N=titles.loc[titles['title']=='North by Northwest']
print(N.size)

2

### When was the first movie titled "Hamlet" made?

In [44]:
import pandas as pd
titles=pd.read_csv('C:/Users/PC/Downloads/titles.csv')
M=titles.loc[titles['title']=='Hamlet']
M.sort_values(by=['year'])
M.iloc[1:2]

        title  year
10637  Hamlet  1921

### List all of the "Treasure Island" movies from earliest to most recent.

In [45]:
import pandas as pd
titles=pd.read_csv('C:/Users/PC/Downloads/titles.csv')
T=titles.loc[titles['title']=='Treasure Island']
T.sort_values(by=['year'])

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [48]:
import pandas as pd
titles=pd.read_csv('C:/Users/PC/Downloads/titles.csv')
T=titles.loc[titles['year']==1950]
print(T.size)

2226

### How many movies were made in the year 1960?

In [49]:
import pandas as pd
titles=pd.read_csv('C:/Users/PC/Downloads/titles.csv')
T=titles.loc[titles['year']==1960]
print(T.size)

3098

### How many movies were made from 1950 through 1959?

In [55]:
import pandas as pd
titles=pd.read_csv('C:/Users/PC/Downloads/titles.csv')
y=titles['year'].between(1950, 1959, inclusive=True)
print(titles[y].size)

25868

### In what years has a movie titled "Batman" been released?

In [58]:
import pandas as pd
titles=pd.read_csv('C:/Users/PC/Downloads/titles.csv')
B=titles.loc[titles['title']=='Batman']
print(B.iloc[0:1])

        title  year
39349  Batman  1943

### How many roles were there in the movie "Inception"?

In [66]:
import pandas as pd
cast=pd.read_csv('C:/Users/PC/Downloads/cast.csv')
C=cast.loc[cast['title']=='Inception']
print(C['n'].size)

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [68]:
import pandas as pd
cast=pd.read_csv('C:/Users/PC/Downloads/cast.csv')
C=cast.loc[cast['title']=='Inception']
C.isna().sum()

title         0
year          0
name          0
type          0
character     0
n            27
dtype: int64

### But how many roles in the movie "Inception" did receive an "n" value?

In [71]:
import pandas as pd
cast=pd.read_csv('C:/Users/PC/Downloads/cast.csv')
C=cast.loc[cast['title']=='Inception']
C.dropna().size

306

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [74]:
import pandas as pd
cast=pd.read_csv('C:/Users/PC/Downloads/cast.csv')
W=cast.loc[cast['title']=='North by Northwest']
count=W.sort_values(by=['n'])
print(count.dropna())

                      title  year                  name     type  \
871426   North by Northwest  1959            Cary Grant    actor
3518333  North by Northwest  1959       Eva Marie Saint  actress
1457165  North by Northwest  1959           James Mason    actor
3157232  North by Northwest  1959   Jessie Royce Landis  actress
356707   North by Northwest  1959        Leo G. Carroll    actor
3048272  North by Northwest  1959  Josephine Hutchinson  actress
1695173  North by Northwest  1959           Philip Ober    actor
1275337  North by Northwest  1959         Martin Landau    actor
2447081  North by Northwest  1959         Adam Williams    actor
1811387  North by Northwest  1959          Edward Platt    actor
665768   North by Northwest  1959     Robert Ellenstein    actor
2295714  North by Northwest  1959          Les Tremayne    actor
464736   North by Northwest  1959       Philip Coolidge    actor
1508344  North by Northwest  1959         Patrick McVey    actor
206471   North by Northwest  1959          Edward Binns    actor
1384780  North by Northwest  1959             Ken Lynch    actor

                           character     n
871426            Roger O. Thornhill   1.0
3518333                  Eve Kendall   2.0
1457165              Phillip Vandamm   3.0
3157232              Clara Thornhill   4.0
356707                 The Professor   5.0
3048272                Mrs. Townsend   6.0
1695173              Lester Townsend   7.0
1275337                      Leonard   8.0
2447081                     Valerian   9.0
1811387              Victor Larrabee  10.0
665768                         Licht  11.0
2295714                   Auctioneer  12.0
464736                     Dr. Cross  13.0
1508344               Sergeant Flamm  14.0
206471                Captain Junket  15.0
1384780  Charley - Chicago Policeman  16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [80]:
import pandas as pd
cast=pd.read_csv('C:/Users/PC/Downloads/cast.csv')
S=cast.loc[cast['title']=='Sleuth'] 
P=S.loc[S['year']==1972]
print(P.sort_values(by=['n']))

          title  year                name     type  \
1705394  Sleuth  1972    Laurence Olivier    actor
326773   Sleuth  1972       Michael Caine    actor
373876   Sleuth  1972      Alec Cawthorne    actor
1465483  Sleuth  1972  John (II) Matthews    actor
2724553  Sleuth  1972  Eve (III) Channing  actress
1448690  Sleuth  1972        Teddy Martin    actor

                          character    n
1705394                 Andrew Wyke  1.0
326773                  Milo Tindle  2.0
373876            Inspector Doppler  3.0
1465483  Detective Sergeant Tarrant  4.0
2724553             Marguerite Wyke  5.0
1448690      Police Constable Higgs  6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [81]:
import pandas as pd
cast=pd.read_csv('C:/Users/PC/Downloads/cast.csv')
S=cast.loc[cast['title']=='Sleuth'] 
P=S.loc[S['year']==2007]
print(P.sort_values(by=['n']))

          title  year                 name     type          character    n
326774   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1293634  Sleuth  2007             Jude Law    actor               Milo  2.0
1805907  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
260242   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
373877   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2724552  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3370424  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [4]:
import pandas as pd
cast=pd.read_csv("C:/Users/PC/Downloads/cast.csv")
H=cast.loc[cast['title']=='Hamlet']
Y=cast.loc[cast['year']==1921]
total=Y['n'].sum()
print(total)

31943.0

### How many roles were credited in Branagh’s 1996 Hamlet?

In [5]:
import pandas as pd
cast=pd.read_csv("C:/Users/PC/Downloads/cast.csv")
H1=cast.loc[cast['title']=='Branagh']
Y1=cast.loc[cast['year']==1996]
total1=Y['n'].sum()
print(total1)

31943.0

### How many "Hamlet" roles have been listed in all film credits through history?

In [7]:
import pandas as pd
cast=pd.read_csv("C:/Users/PC/Downloads/cast.csv")
H=cast.loc[cast['title']=='Hamlet']
total=H['n'].sum()
print(total)

3308.0

### How many people have played an "Ophelia"?

In [9]:
import pandas as pd
cast=pd.read_csv("C:/Users/PC/Downloads/cast.csv")
O=cast.loc[cast['character']=='Ophelia']
print(O.size)

702

### How many people have played a role called "The Dude"?

In [11]:
import pandas as pd
cast=pd.read_csv("C:/Users/PC/Downloads/cast.csv")
D=cast.loc[cast['character']=='The Dude']
print(D.size)

114

### How many people have played a role called "The Stranger"?

In [12]:
import pandas as pd
cast=pd.read_csv("C:/Users/PC/Downloads/cast.csv")
S=cast.loc[cast['character']=='The Stranger']
print(S.size)

1272

### How many roles has Sidney Poitier played throughout his career?

In [15]:
import pandas as pd
cast=pd.read_csv("C:/Users/PC/Downloads/cast.csv")
P=cast.loc[cast['name']=='Sidney Poitier']
print(P['n'].sum())

116.0

### How many roles has Judi Dench played?

In [16]:
import pandas as pd
cast=pd.read_csv("C:/Users/PC/Downloads/cast.csv")
J=cast.loc[cast['name']=='Judi Dench']
print(J['n'].sum())

450.0

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [31]:
import pandas as pd
cast=pd.read_csv("C:/Users/PC/Downloads/cast.csv")
C=cast.loc[cast['name']=='Cary Grant']
year=C.loc[cast['year']==1940]
a=year.loc[year['n']==2]
print(a)

                   title  year        name   type   character    n
871423  My Favorite Wife  1940  Cary Grant  actor  Nick Arden  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [20]:
import pandas as pd
cast=pd.read_csv("C:/Users/PC/Downloads/cast.csv")
C=cast.loc[cast['name']=='Cary Grant']
year=C.loc[cast['year']==1940]
print(year['n'])

871407    1.0
871423    2.0
871448    1.0
871450    1.0
Name: n, dtype: float64

### How many roles were available for actors in the 1950s?

In [30]:
import pandas as pd
cast=pd.read_csv("C:/Users/PC/Downloads/cast.csv")
yer=C.loc[cast['year']==1950]
act=yer.loc[yer['type']=='actor']
print(act['n'])

871396    1.0
Name: n, dtype: float64

### How many roles were available for actresses in the 1950s?

In [29]:
import pandas as pd
cast=pd.read_csv("C:/Users/PC/Downloads/cast.csv")
yr=C.loc[cast['year']==1950]
ac=yr.loc[yr['type']=='actresses']
print(ac['n'])

Series([], Name: n, dtype: float64)

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [32]:
import pandas as pd
cast=pd.read_csv("C:/Users/PC/Downloads/cast.csv")
r=C.loc[cast['year']==1980]
d=r.loc[r['n']==1]
print(d)

Empty DataFrame
Columns: [title, year, name, type, character, n]
Index: []

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?